# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Automation\SDE_Wip_prj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
